<section>
	<div class="top-buffer col-lg-12 col-md-12 col-sm-12 mb">
		<div class="pn">
	    	<div class="border-head">
	            <h3>All APIs</h3>
	        </div>
			<div class="col-lg-12">
	          <table class="table">
	              <thead>
	              <tr>
	              	  <th>API Name</th>
	                  <th>API ID</th>
	                  <th>Cost</th>
	                  <th>Charges</th>
	                  <th>Usage</th>
	              </tr>
	              </thead>
	              <tbody>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch" id="switch-off" checked>
	                      <input type="radio" name="switch" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch1" id="switch-off" checked>
	                      <input type="radio" name="switch1" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch2" id="switch-off" checked>
	                      <input type="radio" name="switch2" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch3" id="switch-off" checked>
	                      <input type="radio" name="switch3" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch4" id="switch-off" checked>
	                      <input type="radio" name="switch4" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch5" id="switch-off" checked>
	                      <input type="radio" name="switch5" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch6" id="switch-off" checked>
	                      <input type="radio" name="switch6" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch7" id="switch-off" checked>
	                      <input type="radio" name="switch7" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch8" id="switch-off" checked>
	                      <input type="radio" name="switch8" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch9" id="switch-off" checked>
	                      <input type="radio" name="switch9" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch10" id="switch-off" checked>
	                      <input type="radio" name="switch10" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch11" id="switch-off" checked>
	                      <input type="radio" name="switch11" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch12" id="switch-off" checked>
	                      <input type="radio" name="switch12" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch13" id="switch-off" checked>
	                      <input type="radio" name="switch13" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch14" id="switch-off" checked>
	                      <input type="radio" name="switch14" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch15" id="switch-off" checked>
	                      <input type="radio" name="switch15" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch16" id="switch-off" checked>
	                      <input type="radio" name="switch16" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              <tr>
	                  <td>APIName</td>
	                  <td>072793</td>
	                  <td>021292</td>
	                  <td>None</td>
	                  <td>
		                  <div class="switch white">
	                      <input type="radio" name="switch17" id="switch-off" checked>
	                      <input type="radio" name="switch17" id="switch-on">
	                      <label for="switch-off">Off</label>
	                      <label for="switch-on">On</label>
	                      <span class="toggle"></span>
                    	  </div>
	                  </td>
	              </tr>
	              </tbody>
	          </table>
	        </div>
		</div>
	</div>

</section>