<section>
  <div class="col-lg-12 text-center top-buffer-md">
    	<!-- multistep form -->
		<form id="msform">
		<!-- newproject -->
		<ul id="newproject">
		</ul>
		<!-- fieldsets -->
		<fieldset>
		<h2 class="fs-title">Project Name <a class="menu-overlay-close"><i class="fa fa-times"></i></a></h2>
		<h3 class="fs-subtitle">Name your Project!</h3>
		<input style="outline:none;" type="text" name="projectname" placeholder="Project Name" />
		<h2 class="fs-title">Project ID<a class="menu-overlay-close"><i class="fa fa-times"></i></a></h2>
		<h3 class="fs-subtitle">The ID of Your Project!</h3>
		<input style="outline:none;" type="text" name="projectID" placeholder="Project ID" />
		<h2 class="fs-title">Agree To Terms<a class="menu-overlay-close"><i class="fa fa-times"></i></a></h2>
		<h3 class="fs-subtitle">Terms &amp; Conditions</h3>
		<div class="text-center">
		<input type="checkbox" name="sex" value="male"><h3 id="iagree" class="fs-title">I agree </h3>
		<br>
	  	<a href="#"><input type="submit" name="submit" class="submit action-button" value="Submit" /></a>
	  	</div>
		</fieldset>
		</form>
  </div>
</section>