<section>
<div class="col-lg-12 text-center top-buffer-md">
  <h3>ProjectName</h3>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 top-buffer-sm">
	<div class="task-info text-center">
	    <div class="desc">ProjectName</div>
	    <div class="percent">Ready for Deploy</div>
	</div>
	<div class="progress progress-striped">
	    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	        <span class="sr-only">Active (success)</span>
	    </div>
	</div>
        <div class="border-head text-center">
            <h3>API</h3>
        </div>
          <table class="table">
              <thead>
              <tr>
                  <th>API</th>
                  <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="apilist in apilists">
                  <td>{{ apilist.name }}</td>
                  <td>
                    <div class="switch white">
                      <input type="radio" name="{{ apilist.inputname }}" id="switch-off" {{ apilist.idoff }}>
                      <input type="radio" name="{{ apilist.inputname }}" id="switch-on" {{ apilist.id }}>
                      <label for="switch-off">Off</label>
                      <label for="switch-on">On</label>
                      <span class="toggle"></span>
                    </div>
                  </td>
                </tr>
          </table>
          <div class="text-center">
            <a href="#apilist"><p>See All APIs</p></a>
          </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 top-buffer-sm">
	<div class="pn">
     <div class="border-head text-center">
         <h3>API Usage</h3>
     </div>
     <div class="col-lg-12">
	<donutchart id="donut-example" data-options="donutchart" style="height: 190px;"></donutchart>
  <div class="text-center"><a href="#">See More</a></div>
	</div>
	</div>
<div class="row top-buffer-sm">
  <div class="border-head text-center">
    <h3>Members to This Project</h3>
  </div>
  <div class="text-center addmembertext">
  <p>No members are currently collaborating with you on this project! </p>
  <img class="addmember" src="images/addmember.png">
  <a href="#">Add Member</a>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-1 mb top-buffer-sm">
  <div class="pn">
    <div class="border-head text-center">
                    <p>Settings</p>
                </div>
    <div class="row">
      <div class="col-sm-6 col-xs-6 goleft sm-bench">
        <p>Billing:</p>
        <p>Enable Billing</p>
          <div class="switch white" style="margin-left: 62px;">
          <input type="radio" name="billing" id="switch-off">
          <input type="radio" name="billing" id="switch-on" checked>
          <label for="switch-off">Off</label>
          <label for="switch-on">On</label>
          <span class="toggle"></span>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6 sm-bench">
        <p><a>Delete Project</a></p>
       </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-6 goleft sm-bench">
        <p><a>Rename Project</a></p>
      </div>
        <div class="col-sm-6 col-xs-6 sm-bench">
        <p><a href="#credentials">Credentials</a></p>
       </div>
    </div>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 top-buffer-sm">
	<div class="pn">
    	<div class="border-head">
            <h3>Billing Overview</h3>
        </div>
		<div class="col-lg-12">
          <table class="table">
              <thead>
              <tr>
                  <th>Bill Date</th>
                  <th>Amount</th>
                  <th>Requests</th>
                  <th>Start Date</th>
                  <th>End Date</th>
              </tr>
              </thead>
              <tbody ng-repeat="billing in billings">
              <tr>
                  <td>{{ billing.billdate }}</td>
                  <td>{{ billing.amount }}</td>
                  <td>{{ billing.requests }}</td>
                  <td>{{ billing.startdate }}</td>
                  <td>{{ billing.startdate }}</td>
              </tr>
              </tbody>
          </table>
          <div class="text-center">
            <a href="#recentbills"><p>See All Billing Cycles</p></a>
          </div>
        </div>
<!--     <div class="border-head">
        <h3>Upcoming Billing Cycles</h3>
    </div>
    <div class="col-lg-12">
          <table class="table">
              <thead>
              <tr>
                  <th>Date</th>
                  <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>12/15</td>
                  <td>$12.92</td>
              </tr>
              <tr>
                  <td>12/22</td>
                  <td>$12.92</td>
              </tr>
              <tr>
                  <td>12/29</td>
                  <td>$12.92</td>
              </tr>
              <tr>
                  <td>1/5</td>
                  <td>$12.92</td>
              </tr>
              </tbody>
          </table>
          <div class="text-center">
            <a href="#upcomingbills"><p>See All Upcoming Billing Cycles</p></a>
          </div>
    </div> -->

	</div>
</div>
</section>
