<section>
	<div class="top-buffer col-lg-6 col-md-6 col-sm-6 mb">
		<div class="pn">
	    	<form class="msform">
            <!-- fieldsets -->
            <title>
            <h3>Oauth</h3>
            </title>
            <fieldset>
            
            <h2 class="fs-title">Consent</h2>
            <input style="outline:none;" type="text" name="email" placeholder="Email" />
            <input style="outline:none;" type="password" name="productname" placeholder="Product Name" />
            <input style="outline:none;" type="password" name="url" placeholder="Homepage URL" />
            <input style="outline:none;" type="text" name="terms of service url" placeholder="Terms of Service URL" />
            <input style="outline:none;" type="text" name="clientID" placeholder="Client ID" />
            <input style="outline:none;" type="text" name="clientsecret" placeholder="Client Secret" />
            <input type="cancel" name="cancel" class="signup-close submit action-button submitbtn" value="Cancel"/>
            <input type="submit" name="submit" class="menu-overlay-close-list submit action-button submitbtn" value="Submit" />
            </fieldset>
      </form>
		</div>
	</div>

</section>