<section>
  <div class="row">
    	<!-- multistep form -->
		<form id="msform">
		<!-- progressbar -->
		<ul id="progressbar">
		<li class="active">Name Your New Project</li>
		<li>Project ID</li>
		<li>Agree to Terms</li>
		</ul>
		<!-- fieldsets -->
		<fieldset>
		<h2 class="fs-title">Project Name <a class="menu-overlay-close"><i class="fa fa-times"></i></a></h2>
		<h3 class="fs-subtitle">Name your Project!</h3>
		<input style="outline:none;" type="text" name="projectname" placeholder="Project NAme" />
		</fieldset>
		<fieldset>
		<h2 class="fs-title">Project ID<a class="menu-overlay-close"><i class="fa fa-times"></i></a></h2>
		<h3 class="fs-subtitle">The ID of Your Project!</h3>
		<input style="outline:none;" type="text" name="projectID" placeholder="Project ID" />
		</fieldset>
		<fieldset>
		<h2 class="fs-title">Agree To Terms<a class="menu-overlay-close"><i class="fa fa-times"></i></a></h2>
		<h3 class="fs-subtitle">We will never sell it</h3>
		<input type="radio" name="sex" value="male" checked>I agree
		<br>
		<input type="radio" name="sex" value="female">I do not agree
		<input type="button" name="previous" class="previous action-button" value="Previous" />
	  <input type="submit" name="submit" href="/syncform/angular/#" class="submit action-button" value="Submit" />
		</fieldset>
  </div>
</section>