<section>
	<div class="top-buffer col-lg-12 col-md-12 col-sm-12 mb">
		<div class="pn">
	    	<div class="border-head">
	            <h3>Open Projects</h3>
	        </div>
			<div class="col-lg-12">
	          <table class="table">
	              <thead>
	              <tr>
	              	  <th>Date Created</th>
	                  <th>Project Name</th>
	                  <th>Project ID</th>
	                  <th>Requests</th>
	                  <th>Errors</th>
	                  <th>Charges</th>
	                  <th>Delete Project</th>
	              </tr>
	              </thead>
	              <tbody>
	              <tr ng-repeat="projectlist in projectlists">
	                  <td>{{ projectlist.createdate }}</td>
	                  <td><a href="#project">{{ projectlist.projectname }}</a></td>
	                  <td>{{ projectlist.projectid }}</td>
	                  <td>{{ projectlist.requests }}</td>
	                  <td>{{ projectlist.errors }}</td>
	                  <td>{{ projectlist.charges }}</td>
	                  <td><a href="/syncform/angular/#"><btn class="btn-sexy-sm" type="submit">Delete</btn></a></td>
	              </tr>
	              </tbody>
	          </table>
	        </div>
	        <div class="col-lg-4 col-lg-offset-4 text-center top-buffer bottom-buffer">
	        	<a href="#new-project"><btn class="btn-sexy" type="submit">Create New Project</btn></a>
	        </div>
		</div>
	</div>

</section>