<section>
	<div class="top-buffer col-lg-12 col-md-12 col-sm-12 mb">
		<div class="pn">
	    	<div class="border-head">
	            <h3>Open Projects</h3>
	        </div>
			<div class="col-lg-12">
	          <table class="table">
	              <thead>
	              <tr>
	              	  <th>Date Created</th>
	                  <th>Project Name</th>
	                  <th>Project ID</th>
	                  <th>Requests</th>
	                  <th>Errors</th>
	                  <th>Charges</th>
	              </tr>
	              </thead>
	              <tbody>
	              <tr>
	                  <td>12/22</td>
	                  <td><a href="#project">WinChelsBack</a></td>
	                  <td>021292</td>
	                  <td>1</td>
	                  <td>0</td>
	                  <td>None</td>
	              </tr>
	              <tr>
	                  <td>12/14</td>
	                  <td>BuffaloChillin</td>
	                  <td>072793</td>
	                  <td>1</td>
	                  <td>0</td>
	                  <td>$.01 on 12/14 to xxxx-5635</td>
	              </tr>
	              <tr>
	                  <td>12/14</td>
	                  <td>BuffaloChillin</td>
	                  <td>072793</td>
	                  <td>1</td>
	                  <td>0</td>
	                  <td>$.01 on 12/14 to xxxx-5635</td>
	              </tr>
	              <tr>
	                  <td>12/14</td>
	                  <td>BuffaloChillin</td>
	                  <td>072793</td>
	                  <td>1</td>
	                  <td>0</td>
	                  <td>$.01 on 12/14 to xxxx-5635</td>
	              </tr>
	              </tbody>
	          </table>
	        </div>
	        <div class="col-lg-4 col-lg-offset-4 text-center top-buffer bottom-buffer">
	        	<a href="#new-project"><btn class="btn-sexy" type="submit">Create New Project</btn></a>
	        </div>
		</div>
	</div>

</section>