<head>
    <meta charset="utf-8">
    <title>Cuore SyncForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cuore's Coordination Efficiency Platform, a set of web services developed in the the "Unholy Trinity" Python, Neo4j and Pyramid Web Framework.">
    <meta name="author" content="Leo Schultz">
    <link rel="shortcut icon" href="${request.static_url('syncform:images/favicon.png')}">

    <!-- for Google -->
    <meta content="Cuore, the next big technology innovation!" name="description">
    <meta content="cuore core coretech cuoretech cuoretechnology technology alan luscios luscious ara projectara phoneblocks phone wireless speakers speaker hometheater home smarthome grid nvidia intel coordination efficency platform sync play money finance planner" name="keywords">
    
    <!--Site Author-->
    <meta name="author" content="Leo Schultz">
    <link href="https://plus.google.com/+CuoreIo" rel="author">
    <meta content="Cuore.io" name="application-name">
    <script async="" src="https://www.google-analytics.com/analytics.js"> </script>
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"> </script>

    <!-- for Facebook -->
    <meta content='Cuore' property='og:title'>
    <meta content='website' property='og:type'>
    <meta content='${request.static_url('syncform:images/thumbnail.png')}' property='og:image'>
    <meta content='http://cuore.io' property='og:url'>
    <meta content='Cuore, the next big technology innovation!' property='og:description'>

    <!-- for Twitter -->
    <meta content='summary' name='twitter:card'>
    <meta content='Cuore' name='twitter:title'>
    <meta content='Cuore, the next big technology innovation!' name='twitter:description'>
    <meta content='${request.static_url('syncform:images/thumbnail.png')}' name='twitter:image'>
        
    <!-- for Apple iOS -->
    <link rel="shortcut icon" href="${request.static_url('syncform:images/thumbnail.png')}" />
    <link rel="apple-touch-icon" href="${request.static_url('syncform:images/thumbnail.png')}" />

    <!-- stylesheets -->
    <link href="${request.static_url('syncform:css/style.css')}" rel="stylesheet">
    <link href="${request.static_url('syncform:css/start.css')}" rel="stylesheet">
    <link href="${request.static_url('syncform:css/flat-ui.css')}" rel="stylesheet">
    <link href="${request.static_url('syncform:css/prettify.css')}" rel="stylesheet">
    <link href="${request.static_url('syncform:css/bootstrap.min.css')}" rel="stylesheet">
    <link href="${request.static_url('syncform:css/bootstrap-theme.min.css')}" rel="stylesheet">
    <link href="${request.static_url('syncform:css/responsive.css')}" rel="stylesheet">

    <!-- scripts -->
    <script src="${request.static_url('syncform:js/jquery-1.8.3.min.js')}"></script>
    <script src="${request.static_url('syncform:js/jquery-1.11.1.min.js')}"></script>
    <script src="${request.static_url('syncform:js/jquery-2.1.1.min.js')}"></script>
    <script src="${request.static_url('syncform:js/angular.min.js')}"></script>
    <script src="${request.static_url('syncform:js/react.min.js')}"></script>
    <script src="${request.static_url('syncform:js/react-with-addons.min.js')}"></script>
    <script src="${request.static_url('syncform:js/JSXTransformer.js')}"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="${request.static_url('syncform:js/html5shiv.js')}"></script>
      <script src="${request.static_url('syncform:js/respond.min.js')}"></script>
      <script src="${request.static_url('syncform:js/icon-font-ie7.js')}"></script>
    <![endif]-->
</head>